<form method='post' enctype="multipart/form-data" action='/api/insert_position'>
	<label>
		Файл для парсинга
		<input type='file' name='file'>
		<button type='submit'>Отправить форму</button>
	</label>
</form>